@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
    transition: none;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_block {
    width: 50vw;
    height: auto;
    padding-bottom: 50px;
    background: #f1f1f1;
    box-shadow: 25px 25px 100px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: absolute;
}

.titulo {
    font-size: 50px;
    font-family: Nunito;
    text-align: center;
    color: black;
    padding-top: 40px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    min-height: 15%;
}

.container-stage {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    margin-top: 20px;
    margin-left: 20px;
    height: 3vw;
    filter: invert(50%);
    cursor: pointer;
}

.stage {
    font-size: 18px;
    text-align: end;
    font-weight: bold;
    margin: 3vh;
}

/*INPUTS*/

.input_block,
#bloco1,
#bloco2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 25%;
}

#bloco2,
#btnAvancarB {
    display: none;
}

.input {
    background-color: #f1f1f1;
    margin: 0px 15% 25px 15%;
    box-shadow: none !important;
    font-size: 20px;
    color: rgb(59, 59, 59);
    border: none;
    border-bottom: 1px solid #1c5f66;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.infos_extras {
    display: flex;
    align-items: start;
    flex-direction: row;
}

.input.inputDT {
    width: 70% !important;
    margin: 0px 0 0px 15%;
}

.input_baixo {
    margin-bottom: 10px !important;
}

.input:focus,
.inputsRua:focus,
.inputsN:focus {
    border: 0 none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-bottom: 2px solid #015249;
    padding: 10px;
}

.esq_senha {
    text-align: end;
    margin: 0px 15% 25px 15%;
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.esq_senha:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.checkbox_remember {
    display: flex;
    justify-content: start;
    margin: 0px 15% 25px 15%;
    margin-right: 10px;
}

.check {
    margin-left: 10px;
    color: #000000;
    opacity: 0.3;
    box-shadow: none;
}

/*BOTÃO*/
.button_block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20%;
}

.botao_entrar {
    background-color: #76cad4;
    cursor: pointer;
    border-radius: 40px;
    font-family: Nunito;
    padding: 0px 20% 0px 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.botao_entrar:hover {
    background-color: #2da1ad;
    padding: 0px 21% 0px 21%;
}

.cadastre {
    min-height: 40%;
    text-align: center;
    margin-top: 6%;
}

.link_cadastre {
    color: #2e2cb4;
}

/*WAVE*/
.wave_container {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 0;
    height: 100%;
}

.wave {
    width: auto;
    height: 100%;
}

/*CIRCULO*/
.circulo {
    position: absolute;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    left: 92vw;
    top: -50px;

    background: #76cad4;
}

/* POP-UP */
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.buttom-popup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttom-popup img {
    height: 5vh;
    cursor: pointer;
}

.textRed {
    color: red;
    text-align: center;
}


.containerHintSenha {
    margin-top: 0;
    margin-left: 15%;
    width: 100%;
    align-items: start;
    font-size: 12px;
    justify-content: start;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.hintImg {
    height: 10px;
    margin-right: 2px;
}

.green {
    filter: invert(26%) sepia(13%) saturate(6547%) hue-rotate(78deg) brightness(100%) contrast(101%);
}

.red {
    filter: invert(27%) sepia(86%) saturate(7499%) hue-rotate(356deg) brightness(91%) contrast(83%)
}

.containerHintSenha span {
    display: flex;
    align-items: center;
    line-height: 1.2;
}

/*RESPONSIVO*/

/*Vertical*/
@media screen and (max-height: 900px) {
    .circulo {
        display: none;
    }
}

@media screen and (max-height: 1099px) {
    .login_block {
        height: auto;
        padding-bottom: 50px;
        width: 30vw;
    }
}

@media screen and (min-height: 1100px) {
    .login_block {
        width: 50vh;
    }
}

/*horizontal*/
@media screen and (max-width: 1282px) {
    .wave {
        height: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .login_block {
        width: 40vw;
    }
}

@media screen and (max-width: 1024px) {
    .login_block {
        width: 50vw;
    }
}

@media screen and (max-width: 900px) {
    .circulo {
        display: none;
    }

    .login_block {
        width: 60vw;
        height: auto;
        padding-bottom: 50px;
    }

    .wave {
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width: 899px) {
    .login_block {
        width: 98%;
        height: auto;
    }

    /* div.inputs_span {
        display: flex;
        flex-direction: column;
    }

    div .inputsRua,
    div .inputsN {
        width: 100%;
    } */

    .wave {
        width: 70vw;
        height: 100vh;
    }
}